.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #353535;
  height: 8vh;
  gap: 1vw;
  position: relative;
  width: 100vw;
  z-index: 10;
}

.app-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2vw;
}

.brand-gradient {
  font-weight: bold;
  background: linear-gradient(to right, #d2b3f0, #f4b5c6);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: clamp(16px, 4vw, 24px);
  white-space: nowrap;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #4a4a4a;
  border-radius: 20px;
  padding: 5px 10px;
  flex: 1;
  max-width: 600px;
  margin: 0 auto;
}

.search-icon {
  margin-right: 8px;
  color: #ccc;
}

.search-input {
  background: none;
  border: none;
  outline: none;
  color: #ccc;
  font-size: 14px;
  flex: 1;
}

.search-input::placeholder {
  color: #ccc;
}

.category-dropdown {
  background-color: #4a4a4a;
  border: none;
  color: #ccc;
  font-size: 14px;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 2vw;
}

.icon {
  font-size: 20px;
  color: #ccc;
  cursor: pointer;
}

.account {
  display: flex;
  align-items: center;
  gap: 5px;
}

.account-text {
  font-size: 14px;
  color: #ccc;
}
