#root {
  margin: 0;
  padding: 0;
  background-color: #2e2e2e;
  width: 100%;
  overflow: hidden; /* Ẩn thanh cuộn của root */
}
html,
body {
  overflow-x: hidden; /* Ngăn cuộn ngang */
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden; /* Ẩn thanh cuộn của body */
}

.container {
  overflow: auto; /* Cho phép cuộn */
  scrollbar-width: none; /* Ẩn thanh cuộn trên Firefox */
  -ms-overflow-style: none; /* Ẩn thanh cuộn trên IE/Edge */
}

.container::-webkit-scrollbar {
  display: none;
}
